.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  padding-right: 1rem;
  min-width: 0;
  min-height: 0;
  height: 80vh;

}

.pie-chart-container {
  min-width: 0;
  min-height: 0;
}

.bar-chart-container {
  min-width: 0;
  min-height: 0;
}

.time-period-selector-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 20px;
  padding-left: 10px;
}

.time-period-selector {
  width: 150px;
}

.category-selector {
  width: 200px;
}

.interval-selector {
  width: 100px;
}
