/* display contents side by side */
.target-tables-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  gap: 30px;
  width: 100%;
}

.targets-table {
  width: 100%;
  height: calc(100% - 50px);
}

.expense-targets-table {
  width: 47%;
  margin-top: 10px;
  height: calc(100vh - 50px);
}

.income-targets-table {
  width: 47%;
  margin-top: 10px;
  height: calc(100vh - 50px);
}

.button-add-category {
  width: 100px;
}

.button-delete-category {
  width: 100px;
}

.button-delete-category:disabled:hover {
  transform: none;
  cursor: default;
}

.add-category-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button-add-category {
  color: var(--button-text-color);
  background-color: var(--button-add-category);
}

.button-delete-category:disabled {
  color: var(--button-text-color);
  background-color: var(--button-delete-category-disabled);
}

.button-delete-category {
  color: var(--button-text-color);
  background-color: var(--button-delete-category);
}