body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

h1 {
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  max-height: 50px;
}

.tab {
  font-size: 18px;
  font-weight: bold;
  color: #444444;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.tab:hover {
  color: #222222;
  background-color: #e0e0e0;
}

.tab.active {
  color: #ffffff;
  background-color: #0077ff;
}